//keyframes
@keyframes fade__in {
 0% {opacity: 0; visibility: hidden;}
 100% {opacity: 1; visibility: visible;}
}

@keyframes fade__out {
 0% {opacity: 1; visibility: visible;}
 100% {opacity: 0; visibility: hidden;}
}

@keyframes top__closed {
 0% {transform: rotate(46deg)  translate(-3px, 9px);}
 50% {transform: rotate(46deg)   translate(-3px, 9px);}
 100% {transform:  rotate(0deg) translateY(0px);}
}

@keyframes bottom__closed {
 0% {transform: rotate(130deg) translate(0px, 14px);}
 50% {transform: rotate(130deg)  translate(0px, 14px);}
 100% {transform:  rotate(0deg) translateY(0px);}
}

@keyframes top__open {
 0% {transform:  rotate(0deg) translateY(0px);}
 50% {transform: rotate(46deg)  translate(-3px, 9px);}
 100% {transform:  rotate(46deg) translate(-3px, 9px);}
}

@keyframes bottom__open {
 0% {transform:  rotate(0deg) translateY(0px);}
 50% {transform: rotate(130deg) translate(0px, 14px);}
 100% {transform:  rotate(130deg)  translate(0px, 14px);}
}






