.header {
  nav {
    position: relative;
    background: $neutral_color4;
    padding-top: 1.0625em;
    padding-bottom: 1.0625em;
  }
  &__logo {
    img {
      width: 8.8125em;
      height: 1.375em;
    }
  }
  &__hamburger {
    display: block;
    width: 1.625rem;
    height: 0.125rem;
    transform: translate(-50%, -50%);
    & .header__menu {
      margin: auto;
      height: 80%;
      width: 80%;

      .line {
        height: 2px;
        width: 40px;
        background: $primary_color1;
        transition: all 500ms ease-in-out;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
      & .top {
        animation: top__closed 500ms ease-in-out forwards;
      }
      & .middle {
        margin: 15px, 0;
      }
      & .bottom {
        animation: bottom__closed 500ms ease-in-out forwards;
      }
    }
  }

  &__links {
    a {
      position: relative;
      font-size: 0.875rem;
      color: $neutral_color2;
      transition: all 200ms ease-in-out;

      &:not(:last-child) {
        margin-right: 2rem;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        background: linear-gradient(to right, $primary_color2, $primary_color3);
        opacity: 0;
        left: 0;
        right: 0;
        transition: all 200ms ease-in-out;
        bottom: -30px;
      }
      &:hover {
        color: $primary_color1;

        &::before {
          background: linear-gradient(
            to right,
            $primary_color2,
            $primary_color3
          );
          opacity: 1;
        }
      }
    }
  }
  &__mobile {
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    visibility: visible;
    background: white;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    visibility: hidden;
    a {
      text-transform: capitalize;
      color: $primary_color1;
      padding: 1.25em;
      display: block;
      text-align: center;
    }
  }
}
.overlay_menu {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient($primary_color1, transparent);
  visibility: hidden;
  z-index: 2;
}
.open {
  .header__hamburger {
    z-index: 6;
    .header__menu {
      .top {
        animation: top__open 500ms ease-in-out forwards;
        background: white;
      }
      .middle {
        opacity: -0;
      }
      .bottom {
        animation: bottom__open 500ms ease-in-out forwards;
        background: white;
      }
    }
  }
}
