.header {
  nav {
    position: relative;
    background: $neutral_color4;
    padding-top: 1.0625em;
    padding-bottom: 1.0625em;
  }
  &__logo {
    img {
      width: 8.8125em;
      height: 1.375em;
    }
  }
  &__menu {
    div {
      display: block;
      width: 1.625rem;
      height: 0.125rem;
      background-color: $primary_color1;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;
      &:not(:last-child) {
        margin-bottom: 0.3125em;
      }
    }
  }
  &.open {
    .header__menu {
      > div:first-child {
        transform: rotate(45deg);
      }
      > div:nth-child(2) {
        opacity: 0;
      }
      > div:last-child {
        transform: rotate(-45deg);
      }
    }
    .overlay_menu {
      position: fixed;
      height: 100%;
      top: 0rem;
      right: 0;
      left: 0;
      bottom: 0;
      background-image: linear-gradient($primary_color1, transparent);
    }
  }
  &__links {
    a {
      position: relative;
      font-size: 0.875rem;
      color: $neutral_color2;
      transition: all 200ms ease-in-out;

      &:not(:last-child) {
        margin-right: 2rem;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        background: linear-gradient(to right, $primary_color2, $primary_color3);
        opacity: 0;
        left: 0;
        right: 0;
        transition: all 200ms ease-in-out;
        bottom: -30px;
      }
      &:hover {
        color: $primary_color1;

        &::before {
          background: linear-gradient(
            to right,
            $primary_color2,
            $primary_color3
          );
          opacity: 1;
        }
      }
    }
  }
  & .btn {
    padding: 0.875em 2.875em;
    background: linear-gradient(to right, $primary_color2, $primary_color3);
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    color: $neutral_color4;
    font-size: 0.875em;
    font-weight: 700;
    transition: opacity 300ms ease-in-out;
    &:hover {
      opacity: 0.75;
    }
  }
  &__mobile {
    background: $neutral_color4;
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 0.5vh;
    position: absolute;
    width: calc(100% - 3em);
    left: 50%;
    transform: translateX(-50%);
    
    a {
      text-transform: capitalize;
      color: $primary_color1;
      padding: 1.25em;
      display: block;
      text-align: center;
    }
  }
}
