//colors
$primary_color1: #2d314d;
$primary_color2: #31d35c;
$primary_color3: #2bb7da;
//neutral colors
$neutral_color1: #9698a6;
$neutral_color2: #f3f4f6;
$neutral_color3: #fafafa;
$neutral_color4: #ffffff;
//font
$font_sm: 0.875rem;
$font_md: 1.125rem;
$font__lg: 1.25rem;
$font__xlg: 3.25rem;