//general
@mixin trans_all {
 transition: all 0.2s ease-in-out;
}
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Montserrat:ital,wght@0,400;1,700&display=swap');
//font mixin
@mixin k_4 {
 font-family: 'Karla', sans-serif;
 font-weight: 400;
}
@mixin k_7 {
 font-family: 'Karla', sans-serif;
 font-weight: 700;
}
@mixin m_4 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
}
@mixin m_7 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 700;
}
//Button mixin
$pointer: url();
@mixin button($size) {
 font-size: $size;
 padding: 0.3em 0.8em;
 border-radius: 5em;
 background: transparent;
 color: $col_b;
 border: 0.05em solid $col_b;
 text-decoration: none;
 @include trans_all;
 @include k_4;
 &:hover{
  background: $col_b;
  color: $col_11;
  border: 0.05em solid $col_11;
  box-shadow: 0.02em 0.02em 0.2em $col_e;
 }
}
//text
@mixin text_cap {
 text-transform: capitalize;
}
@mixin text_upp {
 text-transform: uppercase;
}
//link
@mixin a_dec {
 text-decoration: none;
 color: $col_10;
 margin: 0.5em;
 @include trans_all;
 &:hover {
  color: $col_f;
 }
}