*, html {
 margin: 0;
 padding: 0;
 font-size: 100%;
}
*::before, *::after {
 box-sizing: border-box;
}
body {
 color: $Very_dark_desaturated_blue;
 text-align: center;
 font-family: 'Barlow', sans-serif;
 font-size: 1.125rem;
 overflow-x: hidden;
}
//helper classes
.padding {
 padding-top: 2.111em;
 padding-right: 1.1875em;
 padding-bottom: 2.111em;
 padding-left: 1.1875em;

 &_t {
 padding-top: 2.375em;
 }
 &_r {
 padding-right: 1.1875em;
 }
 &_b {
 padding-bottom: 2.4375em;
 }
 &_l {
 padding-left: 1.1875em;
 }
}
.p_wrap {
 max-width: 25.125em;
}
.btn {
 text-transform: uppercase;
 border-radius: 3vh;
 padding: 0.8em;
 background: $White;
 font-size: 0.9rem;
 font-family: 'Fraunces', serif;
 font-weight: lighter;
}