$breakPointsUp: (
 "sm": 36em,
 "md": 48em,
 "lg": 62em,
 "xl": 75em,
 "xxl": 87.5em
);
$breakPointsDown: (
 "sm": 35.9375em,
 "md": 47.9375em,
 "lg": 61.9375em,
 "xl": 74.9375em,
 "xxl": 87.4375em
);

@mixin brPointsUp($size) {
 @media only screen and (min-width: map-get($breakPointsUp, $size)) {
  @content;
 }
}
@mixin brPointsDown($size) {
 @media only screen and (max-width: map-get($breakPointsDown, $size)) {
  @content;
 }
}
.desktopDevice {

 @include brPointsUp(md) {
  display: none;
 }
}
.mobileDevice {

 @include brPointsDown(md) {
  display: none;
 }
}